*{margin:0px;padding:0px;border:0px;}
body {text-align:center;}
body {background-color:#E6E6FA; background-image:url(objetos/fondo1.png);}
p {font-size:10.5pt; line-height:115%; font-family:Segoe UI;text-align:justify;}
h1 {font-weight:normal;text-align:justify;padding:5px 25px 5px 25px;}
#global {width:800px; margin:4px auto;}
#encabezado {background-color:silver;width:800px; float:left;}
#logotipo {background-color:none; width:800px; float:left;}
    #logotipo a {}
    #logotipo a:link {}
    #logotipo a:visited {}
    #logotipo a:hover {background-color: none }
    #logotipo a:active {}
#publicidad {background-color:white; width:0px; float:right;margin-top:25px;}
#navegacion {text-align:center;background-color:brown;height:20px;width:800px; float:left;}
  #navegacion ul { margin-left: 1px }
  #navegacion li {float:left;list-style:none;margin:0px 20px 0px 20px;}
#intermedio {background-image:url(objetos/fondo1.png);width:800px; height:15px; float:left;}
#fondosuperior {background-color:none;width:800px; float:left;background-image:url(objetos/cuerda-superior.png);height:30px;}
#contenido {background-color:none;width:800px;background-image:url(objetos/fondopage2.png);background-repeat:repeat-y;float:left;}
  #contenido p {padding:5px 25px 5px 25px;text-indent:15px;}
	#contenido h1 {font-size:24.0pt; line-height:115%; font-family:Segoe UI Light;}
#menu {width:150px; float:left;text-align:left;margin:3px 10px 0px 3px;
			background-image:url(objetos/enmedio.png);background-position:bottom;padding-bottom:30px;}
			#menu li {list-style:none;margin:4px 8px 4px 15px;}
			#menu h1 {padding-top:25px;text-decoration:none; font-size:12px;background-image: url(objetos/arriba.png);}
#fondoinferior {background-color:none;width:800px; float:left;background-image:url(objetos/cuerda-inferior.png);background-position:bottom;height:30px;background-repeat:no-repeat;}
#pie {background-color:pink;height:20px;float:left;width:800px;}
a{color:black;text-decoration:none;display:block;font-size:10.5pt; line-height:115%; font-family:Segoe UI}
																									a:link{}
																									a:visited{color:black;}
																									a:hover {color:red;text-decoration:none;background-color:none;font-weight:bold;}
																									a:active{color:blue;}